body {
    background-color: #027A79;
    overflow: hidden;
}
#titulo{
    width: 300px;
}
.codeC {
    text-align: center;
    font-size: 700%;
    margin-top: 50px;
    color:rgb(163, 240, 19);
}

.container {
    text-align: center;
    border:2px solid black;
    border-radius:3%;
    margin-left: 35%;
    margin-right: 35%;
    background-color: rgb(155, 214, 45) ;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
}

.container form p {
    font-size: 23px;
}
#btn {
    font-size:20px;
    margin-top: 15px;
    border:solid black 1px;
}   

@keyframes animacion {
    50%{
         transform: scale(1.1);
    }
}
.codeC{
    animation: animacion 1.5s linear infinite;
}