body {
    background-color: rgb(155, 214, 45);
}

.codeC {
    text-align: center;
    font-size: 700%;
    margin-top: 50px;
}

.container {
    text-align: center;
    border:2px solid black;
    border-radius:3%;
    margin-left: 35%;
    margin-right: 35%;
    
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
}

.container form p {
    font-size: 23px;
}
#btn {
    font-size:25px;
    margin-top: 15px;
}